.exp {
  width: 80%;
}

.col {
  /* padding: 10em; */
  /* padding-top: 0; */
  text-align: center;
}

@media (max-width: 600px) {
  .exp {
    width: 100%;
  }
  .col {
    margin-bottom: 5px;
  }
}
