.dh {
  max-width: 500px;
  width: 100%;
}

.bio {
  color: black;
  font-size: calc(0.8vw + 1rem);
  font-family: adobe-garamond-pro;
  line-height: 1.2;
  text-align: center;
  padding: 2vmax;
  margin-top: 100px;
}

.homeSection {
  margin-top: 3vmax;
  background-color: #f5f4ef;
  max-height: 800px;
}

.line {
  height: 3px;
  background: black;
  width: 70%;
  float: right;
  margin-bottom: 70px;
  margin-top: 0px;
}

.title {
  font-size: calc(3.4vw + 1rem);
  color: black;
  font-weight: 400;
  padding-top: 3.3vmax;
  padding-right: 7vw;
  padding-left: 7vw;
  font-family: orpheuspro;
  position: absolute;
  z-index: 1;
  right: 0;
}
.mb20 {
  margin-bottom: 20px;
}

.col {
  text-align: center;
}
@media (max-width: 800px) {
  .homeSection {
    margin-top: 0;
    background-color: #f5f4ef;
    max-height: 800px;
  }
}
@media (max-width: 600px) {
  .col {
    margin-bottom: 5px;
  }

  .title {
    font-size: 2.5rem;
    position: relative;
  }

  .bio {
    margin-top: 40px;
  }

  .pageSection {
    padding: 1rem;
  }
  .line {
    height: 1px;
  }
  .homeSection {
    margin-top: 0px;
    max-height: 1200px;
  }
}
