.dh {
  max-width: 500px;
  width: 100%;
}

.bio {
  color: black;
  font-size: calc(0.8vw + 1rem);
  /* font-weight: 400; */
  font-family: adobe-garamond-pro;
  line-height: 1.2;
  text-align: center;
  /* padding-top: 50px; */
}

.section {
  /* padding-top: 3.3vmax; */
  padding-bottom: 3.3vmax;
  padding-right: 2vw;
  padding-left: 14vw;
}

.homeSection {
  background-color: lightgray;
}

.line {
  height: 3px;
  background: black;
  width: 70%;
  float: right;
  margin-bottom: 70px;
  margin-top: 0px;
}

.title {
  font-size: calc(3.6vw + 1rem);
  color: #595959;
  padding-top: 3.3vmax;
  padding-right: 7vw;
  padding-left: 7vw;
}
.mb20 {
  margin-bottom: 20px;
}

.col {
  text-align: center;
}
@media (max-width: 600px) {
  .col {
    margin-bottom: 5px;
  }

  .title {
    font-size: 2.5rem;
  }

  .bio {
    padding-top: 3.3vmax;
  }

  .pageSection {
    padding: 1rem;
  }

  .section {
    padding-top: 3.3vmax;
    padding-bottom: 3.3vmax;
    padding-right: 7vw;
    padding-left: 7vw;
  }
  .line {
    height: 1px;
  }
}
