@import url('https://use.typekit.net/raz1yzb.css');

:root {
  --primary: #000;
  --secondary: #000;
  --lightGrey: whitesmoke;
  --midGrey: #cacaca;
  --darkGrey: #272727;
  --danger: #ff3d3d;
  --font-primary: 'adobe-garamond-pro', sans-serif;
  --font-system: system-ui; /* postcssPresetEnv */
  --borderRadius: 3px;
}

/* ::selection {
  background: #7c4847;
} */

html {
  box-sizing: border-box;
  min-height: 100%;
  background: var(--lightGrey);
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

body {
  font-family: var(--font-primary);
  min-height: 100%;
  position: relative;
  background: white;
  color: var(--secondary);
  font-size: 1.6em;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

/* a:visited,
a,
a:hover {
  color: black;
} */

strong {
  font-weight: 600;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-bottom: 0.5em;
}

h2 {
  font-family: mina, sans-serif;
  font-weight: 400;
  font-style: normal;
}

pre {
  background: var(--lightGrey);
  line-height: 1.45;
  font-size: 85%;
  border-radius: 3px;
  padding: 16px;
}

code {
  font-size: 85%;
  padding: 0.15em 0;
  background: var(--lightGrey);
  border-radius: 3px;
}
code:before,
code:after {
  letter-spacing: -0.2em;
  content: '\00a0';
}
pre code {
  font-size: inherit;
}
pre code:before,
pre code:after {
  display: none;
}
blockquote {
  margin-left: 0;
  padding-left: 1em;
  line-height: 1.1;
  font-size: 1em;
  font-style: italic;
  border-left: 2px solid var(--primary);
}

/* Utility Classes */
.light {
  background-color: var(--lightGrey);
}
.white {
  background-color: white;
}
.dark {
  background-color: var(--primary);
  color: white;
}
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: white;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.taCenter {
  text-align: center;
  word-wrap: break-word;
}
.taLeft {
  text-align: left;
}
.taRight {
  text-align: right;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

/* Layout */

.section {
  width: 100%;
  padding: 4em;
}
.section:last-child {
  border: 0;
}
.section.thick {
  padding: 10rem 0;
}
.section.thin {
  padding: 3.5rem 0;
}
.section.noPadding {
  padding: 0;
}
@media (max-width: 800px) {
  .followAlong {
    margin-top: 0px !important;
    padding: 0 !important;
  }
}
@media (max-width: 600px) {
  .section {
    width: 100%;
    padding: 2rem 0;
  }
  .section.thick {
    padding: 7rem 0;
  }
  .section.thin {
    padding: 1.5rem 0;
  }
  .followAlong {
    margin-top: 0px !important;
  }
}

.container {
  max-width: 1111px;
  width: 90%;
  margin: 0 auto;
}
.container.skinny {
  max-width: 888px;
}
.container.skinnier {
  max-width: 555px;
}

/* Buttons */

.Button-sm {
  color: #7c4847;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.05em;
  font-size: 1rem;
  display: inline-block;
  padding: 0.5rem 1.2rem;
  border: 2px solid #7c4847;
  transition: all 0.2s ease;
  cursor: pointer;
  border-radius: var(--borderRadius);
  background-color: white;
}

.Button {
  color: #7c4847;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.05em;
  font-size: 1rem;
  display: inline-block;
  padding: 1rem 2.2rem;
  border: 2px solid #7c4847;
  transition: all 0.2s ease;
  cursor: pointer;
  border-radius: var(--borderRadius);
  background-color: white;
}
.Button:hover,
.Button:focus,
.Button-sm:hover,
.Button-sm:focus {
  opacity: 0.95;
  outline: none;
  /* border: 2px solid black;
  color: black; */
  background-color: #7c4847;
  color: white;
  text-decoration: none;
}
.Button[disabled] {
  opacity: 0.4;
  pointer-events: none;
  cursor: progress;
}
.Button-blank {
  appearance: none;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* insta feed */
.followAlong {
  font-weight: 400;
  letter-spacing: 0.05em;
  font-size: 1.8rem;
  display: inline-block;
  padding: 1.4rem 3rem;
  margin-top: 10%;
  margin-bottom: 10%;
  font-family: orpheuspro;
  color: black;
}

.followAlong:hover {
  color: black;
}

.Logo {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 8rem;
  width: 8rem;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

.footer {
  padding: 2rem 0;
  /* background: var(--lightGrey); */
  background-color: #f5f4ef;
  font-family: adobe-garamond-pro;
}

.footer a {
  color: black;
  text-decoration: none;
}

.lh30 {
  line-height: 30px;
}
