.img {
  width: 100%;
}

.links {
  margin-top: 40px;
  text-align: center;
  font-size: calc(1.3vw + 1rem);
  font-family: orpheuspro;
  font-weight: 400;
}

.links a:hover {
  text-decoration: underline;
}

.body {
  min-height: 100%;
  padding: 1em;
  font-family: adobe-garamond-pro;
  font-size: calc(0.8vw + 1rem);
  line-height: 1.2;
  text-align: center;
}

.section {
  background-color: lightgray;
  padding: 2em;
  padding-top: 8em;
  padding-bottom: 8em;
}
@media (max-width: 600px) {
  .section {
    padding: 2em;
  }
  .body {
    padding: 1em;
  }
}
