.HomeHero {
  background-color: var(--darkGrey);
  color: white;
  padding: 15rem 0;
  text-align: center;
  height: 800px;
  background-image: url('../images/header.jpg');
  background-size: cover;
}

.HomeHero .BackgroundImage {
  opacity: 0.8;
}

.HomeHero-large {
  padding: 1rem 0;
}

.HomeHero .container {
  animation: fadeIn 0.5s ease-out;
}

.HomeHero .logo {
  width: 100%;
  margin-top: 80px;
  /* max-height: 800px; */
}

@media (max-width: 600px) {
  .HomeHero {
    padding: 7rem 0;
    height: auto;
  }
  .HomeHero-large {
    padding: 2rem 0;
  }
  .HomeHero .logo {
    width: 100%;
  }
}
