.container img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 767px) {
  .container {
    width: 80%;
    margin-left: 30px;
  }
}
