.dh {
  max-width: 550px;
  width: 100%;
}

.bio {
  background-color: white;
  color: black;
  max-width: 550px;
  text-align: justify;
  margin-top: 170px;
  font-size: 1.8rem;
  font-family: oxtail;
  line-height: 1.2;
}

.idBio {
  background-color: white;
  color: black;
  max-width: 550px;
  text-align: justify;
  margin-top: 320px;
  font-size: 1.8rem;
  font-family: oxtail;
  margin-left: 3em;
  line-height: 1.2;
}

.title {
  font-size: 8rem;
  color: #898888;
  position: absolute;
  margin-left: 20%;
  z-index: 1;
}

.idTitle {
  font-size: 8rem;
  color: #898888;
  position: absolute;
  z-index: 1;
}

.button {
  margin-left: 20%;
}

.mb20 {
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .title,
  .idTitle {
    font-size: 3.5rem;
    position: relative;
    margin-left: 0;
    text-align: center;
  }

  .bio,
  .idBio {
    margin-top: 30px;
    text-align: left;
    padding: 15px;
    font-size: 1.5rem;
    margin-left: 0em;
  }

  .button {
    margin-left: 0;
  }
  .description {
    text-align: center;
  }
  /* .dh {
    padding: 15px;
    max-width: 550px;
    width: 90%;
  } */
  .img {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}
