.dh {
  max-width: 500px;
  width: 100%;
}

.bio {
  background-color: white;
  color: black;
  max-width: 600px;
  text-align: justify;
  margin-top: 170px;
  font-size: 1.6rem;
  font-family: adobe-garamond-pro;
  line-height: 1.2;
}

.title {
  font-size: 5.5rem;
  color: #898888;
}
.mb20 {
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .title {
    font-size: 3.5rem;
    position: relative;
    margin-left: 0;
    text-align: center;
  }

  .bio {
    margin-top: 30px;
    text-align: left;
    padding: 15px;
    font-size: 1.5rem;
    margin-left: 0em;
  }

  .description {
    text-align: center;
  }
  /* .dh {
    padding: 15px;
    max-width: 550px;
    width: 90%;
  } */
  .img {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
}
