.title {
  font-size: 4.5rem;
  color: #898888;
  margin-bottom: 0;
  padding-top: 1em;
  padding-left: 1em;
}

.section {
  width: 100%;
  padding: 0em 4em 8em 4em;
  /* padding-top: 0em; */
}

.img {
  width: 100% !important;
  height: 100% !important;
}

.line {
  height: 5px;
  background: black;
  width: 70%;
  float: right;
  margin-bottom: 70px;
  margin-top: 0px;
}

.link {
  min-height: 300px;
}

.link:visited,
.link,
.link:hover {
  color: black !important;
}

.subTitle {
  margin-top: 15px;
  font-size: 2rem;
  font-family: orpheuspro;
  font-weight: 400;
}

@media (max-width: 600px) {
  .title {
    font-size: 2rem;
  }
  /* .img {
    padding-left: 40px !important;
    padding-right: 40px !important;
  } */
}
