.img {
  width: 100%;
}

.links {
  margin-top: 40px;
  text-decoration: underline;
}

.body {
  background-color: white;
  min-height: 100%;
  padding: 2em;
  font-family: adobe-garamond-pro;
  font-size: 1.5em;
  line-height: 1.2;
}

.section {
  background-color: lightgray;
  padding: 4em;
  padding-top: 8em;
  padding-bottom: 8em;
}
@media (max-width: 600px) {
  .section {
    padding: 2em;
    padding-top: 4em;
    padding-bottom: 4em;
  }
}
