.PageHeader {
  color: black;
  padding: 4rem 0;
}

.PageHeader .BackgroundImage {
  opacity: 0.8;
}

.PageHeader-large {
  padding: 20rem 0;
}

.PageHeader--Title {
  font-size: 4rem;
  margin-bottom: 0;
  /* word-wrap: break-word; */
  font-family: adorn-garland, sans-serif;
}

.PageHeader--Subtitle {
  font-weight: 400;
  font-size: 1.8rem;
}

.PageHeader .container {
  animation: fadeIn 0.5s ease-out;
}

@media (max-width: 600px) {
  .PageHeader {
    padding: 1rem 0;
  }
  .PageHeader-large {
    padding: 12.5rem 0;
  }
  .PageHeader--Title {
    font-size: 2rem;
  }
}
