.img {
  width: 100%;
}

.list {
  background-color: white;
  min-height: 100%;
  padding: 2em;
  font-family: oxtail;
  font-size: 1.5em;
}

.section {
  background-color: lightgray;
  padding: 4em;
  padding-top: 8em;
  padding-bottom: 8em;
}
